# Ignorar node_modules no frontend
/frontend/node_modules/
/frontend/.env.local
/frontend/.vercel/

# Ignorar node_modules no backend
/backend/node_modules/
/backend/.env
/backend/.vercel/

# Ignorar arquivos gerados pelo sistema
.DS_Store
Thumbs.db
