# Ignorar node_modules no frontend
/frontend/node_modules/

# Ignorar node_modules no backend
/backend/node_modules/

# Ignorar dotenv
/frontend/.env
/backend/.env
/_databackup/
# Ignorar arquivos gerados pelo sistema
.DS_Store
Thumbs.db
