.permission-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
}

.permission-button.guest {
  background-color: grey;
}

.permission-button.basic {
  background-color: blue;
}

.permission-button.manager {
  background-color: green;
}

.permission-button.admin {
  background-color: black;
}

.permission-button.active {
  border: 2px solid #fff; /* Destaca o botão ativo */
}
