/* AppAdmin.css */

.botaoEditar,
.botaoDeletar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.botao-adicionar {
  width: 7.6rem;
}

.appadmin-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.appadmin-acoes {
  display: flex;
  justify-content: center;
}

.appadmin-formControl {
  margin-bottom: 15px;
}

.appadmin-container {
  width: 100%;
  padding: 30px;
  min-height: 100vh;
}
.appadmin-titulo {
  display: flex;
  justify-content: space-between;
}

.appadmin-table {
  font-size: 14px;
}
