/* NetSMSFacil.css */
.netsmsfacil-container {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 40px 300px;
}
.form-group-spacing {
  margin-bottom: 20px;
}

.botao-reiniciar {
  width: 100px;
  margin-left: 5px;
}

.botao-gerar {
  width: 100px;
}

.botao-info {
  width: 50px;
  margin-left: auto;
}

.codigo-container {
  display: flex;
  margin-bottom: 20px;
}

.codigo-input {
  max-width: 82px;
  margin-right: 10px;
}
