/* NetSMSFacilAdmin.css */

.botaoEditar,
.botaoDeletar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.botao-adicionar {
  width: 7.6rem;
}

.netadmin-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.netsmsfacil-acoes {
  display: flex;
  justify-content: center;
}

.netsmsfacil-formControl {
  margin-bottom: 15px;
}

.netsmsadmin-container {
  margin-top: 3rem;
}
.netsmsadmin-titulo {
  display: flex;
  justify-content: space-between;
}

.netsmsadmin-table {
  font-size: 14px;
}
