/* OCFacilAdmin.css */

.botaoEditar,
.botaoDeletar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.acoes {
  display: flex;
  justify-content: center;
}

.dados-container {
  width: 100%;
  padding: 30px;
  min-height: 100vh;
}
