/* Users.css */

.botaoEditar,
.botaoDeletar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.acoes {
  display: flex;
  justify-content: center;
}

.users-container {
  width: 100%;
  padding: 30px;
  min-height: 100vh;
}

.users-titulo {
  display: flex;
  justify-content: space-between;
}

.botao-adicionarUsuario {
  width: 10rem;
}
