@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

/* Configuração global dos modais */
.modal-body {
  margin-bottom: 15px;
}

.modal-box {
  padding: 0;
}

.modal-header {
  align-items: center;
  background-color: rgb(33, 37, 41);
  color: rgb(255, 255, 255);
}

.modal-footer {
  background-color: rgb(33, 37, 41);
  color: rgb(255, 255, 255);
}

.modal-body {
  background-color: #fafafa;
}
