@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --menu: 215 27.9% 15%;
    --border-hover: 263 60% 60%;

    --background: 215 27.9% 18%;
    --foreground: 210 20% 98%;

    --card: 215 27.9% 21%;
    --card-foreground: 210 20% 98%;

    --popover: 215 27.9% 15%;
    --popover-foreground: 210 20% 98%;

    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 25%;
    --secondary-foreground: 210 20% 98%;

    --muted: 217.9 10.6% 64.9%;
    --muted-foreground: 210 20% 98%;

    --accent: 263.4 70% 50.4%;
    --accent-foreground: 210 20% 98%;

    --destructive: 357 62% 52%;
    --destructive-foreground: 210 20% 98%;

    --success: 160 60% 45%;
    --success-foreground: 217.9 10.6% 64.9%;

    --warning: 46 100% 88%;
    --warning-foreground: 42 90% 47%;

    --border: 215 27.9% 22%;
    --input: 215 20% 35%;
    --scrollbar: 217.9 10.6% 30%;

    --ring: 263.4 70% 50.4%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.5rem;
  }

  .light-theme {
    --menu: 267 69% 97%;
    --border-hover: 263 60% 40%;

    --background: 263 60% 98%;
    --foreground: 215 27.9% 10%;

    --card: 267 69% 97%;
    --card-foreground: 215 27.9% 10%;

    --popover: 263 60% 85%;
    --popover-foreground: 215 27.9% 10%;

    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;

    --secondary: 263 60% 85%;
    --secondary-foreground: 263.4 70% 50.4%;

    --muted: 263 60% 85%;
    --muted-foreground: 263.4 70% 50.4%;

    --accent: 263.4 70% 50.4%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 69.4%;
    --destructive-foreground: 210 20% 98%;

    --success: 160 60% 45%;
    --success-foreground: 217.9 10.6% 64.9%;

    --border: 267 69% 97%;
    --input: 267 69% 93%;
    --scrollbar: 263 60% 85%;

    --ring: 263.4 70% 50.4%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.login-bg {
  background-image: url("./modules/clarohub/assets/background-login.jpg");
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--menu)) hsl(var(--secondary));
  border-radius: 10px;
}

/* Fix do shifting do shadcn */
body[data-scroll-locked] {
  min-width: 100%;
}

html {
  overflow-x: hidden;
}

/* React Perfect Scrollbar */

.ps__rail-y:hover {
  background: none !important;
}
.ps__rail-y:active {
  background: hsl(var(--menu)) !important;
}

.ps__thumb-y {
  background-color: hsl(var(--scrollbar)) !important;
}

.ps__rail-y {
  z-index: 50 !important;
}
